# Server settings
PORT=3025
NODE_ENV=development
DB_SSL=false
TRUST_PROXY_HOPS=1

# Name displayed in shared page elements
APP_NAME=Project Template

# Local host for development use
HOST=127.0.0.1

# Logs for Testing SQL queries
ENABLE_SQL_LOGGING=true

# Database connection string
DB_URL=postgresql://username:password@host:port/database

# Used by express-session
SESSION_SECRET=replace-with-a-long-random-secret
